body {
	font font-family: Arial, sans-serif;
	color:  black;
	}

img.block01 {
	width: 150px;
	}

.title01 {
	color: red;
}

.text01 {
	width: 100px;
	background: blue;
	color: white;
}

.text02{
	padding-top: 100px;
}

.text03 {
	color: white;
	background: green;
	padding: 5px;
}

.text04 {
	padding-left: 100px;
}

.text05 {
	padding-top: 10px;
}

.text05 li {
	border: 1px solid;
	font-size: 30px;
}

.red {
	color: red;
}

#text {
	padding: 50px;
}